.column {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .column:nth-child(1),
  .column:nth-child(2) {
    grid-column: span 1;
  }
  
  .column:nth-child(3),
  .column:nth-child(4) {
    grid-column: span 1;
  }
}

@media (max-width: 767px) {
  .column {
    grid-column: span 1;
  }
}
